body {
	margin: 0;
}

#monitor {
	height: 100vh;
	overflow: hidden;
}

#monitor>.terminal {
	padding: 5px;
	height: calc(100% - 10px);
}

.media-layer {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 4;
}

.media-layer>div {
	position: relative;
	width: 100%;
}

.media-layer>div>* {
	cursor: pointer;
}

.xterm .xterm-viewport {
	width: initial !important;
}